/* Color palette: https://colorhunt.co/palette/212648 */
/* #f4f4f2 */
/* #e8e8e8 */
/* #bbbfca */
/* #495464 */

/* html { */
/*   background-color: #f4f4f2; */
/* } */

body {
  font-family: 'Roboto Slab', serif;
  color: #495464;
  background-color: white;
  line-height: 140%;
  font-size: 120%;
  width: 40%;
  margin: 40px auto;
  padding: 0 40px;
  text-align: justify;
}

header {
  padding-bottom: 40px;
}

a {
  text-decoration: underline dotted;
  color: #495464;
}

a:hover {
  color: #cf1212;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: xx-large;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  line-height: 1.5;
  border-style: solid;
  border-color: #325288;
  border-width: 1px;
  padding: 5px 0;
}

h1.title {
  text-align: center;
  font-size: 3em;
  margin: auto;
  border-style: none;
}

h2 {
  padding-top: 10px;
  font-size: 1.3em;
}

p.author {
  text-align: center;
}

h3.date {
  text-align: center;
  font-size: smaller;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

article {
  margin-left: 25%;
  margin-right: 10%;
  max-width: 80em;
  text-align: justify;
}

code {
  font-size: 130%;
}

ul {
  padding-left: 12%;
}

.preamble {
  margin: auto;
  max-width: 60%;
  text-align: justify;
}

#menu {
  position: fixed;
  margin-left: 2%;
  padding: 2%;
  height: 600px;
  width: 130px;
}

#TOC {
  position: absolute;
  left: 1%;
  width: 20%;
  padding-right: 1%;
  font-size: 90%;
  text-align: left;
  /* box-shadow: 1px 1px 4px 4px #333; */
}

#TOC a {
  text-decoration: none;
}

pre {
  background: #f4f4f2;
  border-style: solid;
  border-width: 1px;
  border-color: #8ab6d6;
  padding: 10px;
}

.bottom-dweller {
  width: 100%;
  bottom: 0%;
  font-size: 70%;
  text-align: right;
}

.footnotes {
  margin: auto;
  max-width: 50%;
}

.key {
  padding: 0 0.5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 0 1px;                /* To add preceding or following punctuation slightly. */
}

@media screen and (max-width: 1400px) {
  body {
    width: 90%;
  }

  #TOC {
    position: static;
    width: unset;
    column-count: 2;
  }

  #TOC ul li li {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #TOC {
    column-count: 1;
  }
}
