body {
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    background-color: #c9c9c9;
    color: #33333A;
}

a {
    text-decoration: none;
    color: #533333;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #cf1212;
}

h1 {
    text-align: center
}

img {
    border: 0;
}

#main {
    position: absolute;
/*     margin-right: 20%; */
    margin-left: 50px;
    top: 100px;
    text-align: justify;
    width: 600px;
}

#menu {
    position: absolute;
/*     margin-left: 78%; */
    margin-left: 710px;
    top: 120px;
    width: 250px;
    background-color: #a01c1c;
    height: 700px;
    padding: 10px;
    color: #c9c9c9;
}

#menu a {
    text-decoration: none;
    color: #ffa71d;
}

#menu a:hover {
    text-decoration: none;
    color: #ffdf20;
}

.bottom-dweller {
    width: 100%;
    position: absolute;
    bottom: 0%;
}
